logging:
  level:
    org.springframework.web: DEBUG
    com.github.binarywang.demo.wechat: DEBUG
  path: /var/java/logs/weixin
  
wechat: 
  mp:
    appId: 
    secret: 
    token:  
    aesKey: 
  mch_id: 
  mch_key: 
  notify_url:
  maxAmout: 
server: 
    port: 


yunwx: 
  appid: 
  secret: 
weburl: 

spring: 
  datasource: 
    url: jdbc:mysql://localhost:3306/weixinxff?useUnicode=true&characterEncoding=UTF-8&useSSL=false
    username: root
    password: 123

