<!--[if IE 8]> <html lang="zh-CN" class="ie8"> <![endif]-->
<html lang="zh-CN">

	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
		<title>赞赏</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
		<meta name="msapplication-tap-highlight" content="no"/>
		<meta name="apple-mobile-web-app-capable" content="yes"/>
		<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
		<meta name="wap-font-scale" content="no"/>
		<meta name="is_webp" content="yes"/>
		<meta charset="utf-8" />
	</head>

	<style>
		p,dl,dd {
			margin: 0;
			padding: 0;
		}
		
		html {
			overflow-x: hidden;
			margin: 0;
			padding: 0;
		}
		
		body {
			font-size: 14px;
			line-height: 180%;
			min-width: 320px;
			height: 100%;
			display: block;
		}
		
		.copy-btn {
			border: 1px solid #eee;
			padding: 1px 2px;
			border-radius: 2px;
			background-color: #eee;
			color: #0f6a8e;
			font-size: 14px;
		}
	</style>

	<body>
		<div>
			<p>此功能仅供井通社区交流学习使用</p>
			<dl>
				<dt>井通转账地址： <button class="copy-btn" data-clipboard-action="copy" data-clipboard-target="#foo"> 复制</button></dt>
				<dd id="foo">jHsNtDtM1ze2VC916TWK8zS92kiYQ26qEC</dd>

				<dt>备注：<button class="copy-btn" data-clipboard-action="copy" data-clipboard-target="#doo"> 复制</button></dt>
				<dd id="doo">赞赏 </dd>
				<br/>
				<dt>
					<p>注意事项：</p>
					<p>赞赏，金额将转入作者钱包,用来开发下一个小工具。谢谢。:-)</p>					
				</dt>
			</dl>

		</div>
	</body>
<script th:src="@{/js/clipboard.min.js}"></script>
    <!-- 3. Instantiate clipboard -->
    <script>
    var clipboard = new ClipboardJS('.copy-btn');
    clipboard.on('success', function(e) {
        //console.log(e);
       	alert('复制成功');
    });
    clipboard.on('error', function(e) {
        //console.log(e);
    });
    </script>
</html>